# Created by https://www.gitignore.io/api/java,maven,eclipse
# Edit at https://www.gitignore.io/?templates=java,maven,eclipse
###

### Mac ###
.DS_Store

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated

.sts4-cache/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# End of https://www.gitignore.io/api/java,maven,eclipse

.idea/compiler.xml

.idea/encodings.xml

.idea/jarRepositories.xml

.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml

.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml

.idea/libraries/Maven__com_amazonaws_amazon_kinesis_client_1_13_3.xml

.idea/libraries/Maven__com_amazonaws_amazon_kinesis_producer_0_14_1.xml

.idea/libraries/Maven__com_amazonaws_aws_java_sdk_cloudformation_1_11_415.xml

.idea/libraries/Maven__com_amazonaws_aws_java_sdk_cloudwatch_1_11_415.xml

.idea/libraries/Maven__com_amazonaws_aws_java_sdk_core_1_11_415.xml

.idea/libraries/Maven__com_amazonaws_aws_java_sdk_dynamodb_1_11_415.xml

.idea/libraries/Maven__com_amazonaws_aws_java_sdk_ec2_1_11_415.xml

.idea/libraries/Maven__com_amazonaws_aws_java_sdk_kinesis_1_11_415.xml

.idea/libraries/Maven__com_amazonaws_aws_java_sdk_kms_1_11_415.xml

.idea/libraries/Maven__com_amazonaws_aws_java_sdk_s3_1_11_415.xml

.idea/libraries/Maven__com_amazonaws_dynamodb_lock_client_1_1_0.xml

.idea/libraries/Maven__com_amazonaws_dynamodb_streams_kinesis_adapter_1_5_2.xml

.idea/libraries/Maven__com_amazonaws_jmespath_java_1_11_415.xml

.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml

.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_0.xml

.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_0.xml

.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_0.xml

.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_11_0.xml

.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_0.xml

.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_0.xml

.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_0.xml

.idea/libraries/Maven__com_google_android_annotations_4_1_1_4.xml

.idea/libraries/Maven__com_google_api_api_common_1_9_0.xml

.idea/libraries/Maven__com_google_api_client_google_api_client_1_30_7.xml

.idea/libraries/Maven__com_google_api_client_google_api_client_gson_1_30_10.xml

.idea/libraries/Maven__com_google_api_gax_1_56_0.xml

.idea/libraries/Maven__com_google_api_gax_grpc_1_56_0.xml

.idea/libraries/Maven__com_google_api_gax_httpjson_0_73_0.xml

.idea/libraries/Maven__com_google_api_grpc_proto_google_cloud_firestore_admin_v1_1_33_0.xml

.idea/libraries/Maven__com_google_api_grpc_proto_google_cloud_firestore_v1_1_33_0.xml

.idea/libraries/Maven__com_google_api_grpc_proto_google_cloud_firestore_v1beta1_0_86_0.xml

.idea/libraries/Maven__com_google_api_grpc_proto_google_common_protos_1_17_0.xml

.idea/libraries/Maven__com_google_api_grpc_proto_google_iam_v1_0_13_0.xml

.idea/libraries/Maven__com_google_apis_google_api_services_storage_v1_rev20200326_1_30_9.xml

.idea/libraries/Maven__com_google_auth_google_auth_library_credentials_0_20_0.xml

.idea/libraries/Maven__com_google_auth_google_auth_library_oauth2_http_0_20_0.xml

.idea/libraries/Maven__com_google_auto_value_auto_value_annotations_1_7.xml

.idea/libraries/Maven__com_google_cloud_google_cloud_core_1_93_4.xml

.idea/libraries/Maven__com_google_cloud_google_cloud_core_grpc_1_93_4.xml

.idea/libraries/Maven__com_google_cloud_google_cloud_core_http_1_93_4.xml

.idea/libraries/Maven__com_google_cloud_google_cloud_firestore_1_33_0.xml

.idea/libraries/Maven__com_google_cloud_google_cloud_storage_1_107_0.xml

.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml

.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml

.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml

.idea/libraries/Maven__com_google_firebase_firebase_admin_7_0_0.xml

.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml

.idea/libraries/Maven__com_google_guava_guava_29_0_android.xml

.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml

.idea/libraries/Maven__com_google_http_client_google_http_client_1_35_0.xml

.idea/libraries/Maven__com_google_http_client_google_http_client_appengine_1_35_0.xml

.idea/libraries/Maven__com_google_http_client_google_http_client_gson_1_35_0.xml

.idea/libraries/Maven__com_google_http_client_google_http_client_jackson2_1_35_0.xml

.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml

.idea/libraries/Maven__com_google_oauth_client_google_oauth_client_1_30_5.xml

.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_11_4.xml

.idea/libraries/Maven__com_google_protobuf_protobuf_java_util_3_11_4.xml

.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml

.idea/libraries/Maven__com_newrelic_agent_java_newrelic_api_5_6_0.xml

.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml

.idea/libraries/Maven__commons_codec_commons_codec_1_14.xml

.idea/libraries/Maven__commons_io_commons_io_2_4.xml

.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml

.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml

.idea/libraries/Maven__io_grpc_grpc_alts_1_29_0.xml

.idea/libraries/Maven__io_grpc_grpc_api_1_29_0.xml

.idea/libraries/Maven__io_grpc_grpc_auth_1_29_0.xml

.idea/libraries/Maven__io_grpc_grpc_context_1_29_0.xml

.idea/libraries/Maven__io_grpc_grpc_core_1_29_0.xml

.idea/libraries/Maven__io_grpc_grpc_grpclb_1_29_0.xml

.idea/libraries/Maven__io_grpc_grpc_netty_shaded_1_29_0.xml

.idea/libraries/Maven__io_grpc_grpc_protobuf_1_29_0.xml

.idea/libraries/Maven__io_grpc_grpc_protobuf_lite_1_29_0.xml

.idea/libraries/Maven__io_grpc_grpc_stub_1_29_0.xml

.idea/libraries/Maven__io_micrometer_micrometer_core_1_5_1.xml

.idea/libraries/Maven__io_netty_netty_buffer_4_1_50_Final.xml

.idea/libraries/Maven__io_netty_netty_codec_4_1_50_Final.xml

.idea/libraries/Maven__io_netty_netty_codec_http_4_1_50_Final.xml

.idea/libraries/Maven__io_netty_netty_common_4_1_50_Final.xml

.idea/libraries/Maven__io_netty_netty_handler_4_1_50_Final.xml

.idea/libraries/Maven__io_netty_netty_resolver_4_1_50_Final.xml

.idea/libraries/Maven__io_netty_netty_transport_4_1_50_Final.xml

.idea/libraries/Maven__io_opencensus_opencensus_api_0_24_0.xml

.idea/libraries/Maven__io_opencensus_opencensus_contrib_grpc_util_0_24_0.xml

.idea/libraries/Maven__io_opencensus_opencensus_contrib_http_util_0_24_0.xml

.idea/libraries/Maven__io_perfmark_perfmark_api_0_19_0.xml

.idea/libraries/Maven__io_projectreactor_reactor_core_3_3_6_RELEASE.xml

.idea/libraries/Maven__io_springfox_springfox_core_2_9_2.xml

.idea/libraries/Maven__io_springfox_springfox_schema_2_9_2.xml

.idea/libraries/Maven__io_springfox_springfox_spi_2_9_2.xml

.idea/libraries/Maven__io_springfox_springfox_spring_web_2_9_2.xml

.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_9_2.xml

.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_9_2.xml

.idea/libraries/Maven__io_springfox_springfox_swagger2_2_9_2.xml

.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml

.idea/libraries/Maven__io_swagger_swagger_models_1_5_20.xml

.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml

.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml

.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml

.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml

.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml

.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_3_2.xml

.idea/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml

.idea/libraries/Maven__joda_time_joda_time_2_8_1.xml

.idea/libraries/Maven__junit_junit_4_13.xml

.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_11.xml

.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_11.xml

.idea/libraries/Maven__net_jodah_typetools_0_6_2.xml

.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml

.idea/libraries/Maven__net_minidev_json_smart_2_3.xml

.idea/libraries/Maven__org_apache_commons_commons_lang3_3_10.xml

.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_12.xml

.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_13.xml

.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml

.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml

.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_36.xml

.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_36.xml

.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml

.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_5.xml

.idea/libraries/Maven__org_assertj_assertj_core_3_16_1.xml

.idea/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_64.xml

.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_64.xml

.idea/libraries/Maven__org_checkerframework_checker_compat_qual_2_5_5.xml

.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_18.xml

.idea/libraries/Maven__org_conscrypt_conscrypt_openjdk_uber_2_2_1.xml

.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml

.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml

.idea/libraries/Maven__org_hamcrest_hamcrest_core_2_2.xml

.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_12.xml

.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_1_5_Final.xml

.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml

.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_6_2.xml

.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_6_2.xml

.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_6_2.xml

.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_6_2.xml

.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_6_2.xml

.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_6_2.xml

.idea/libraries/Maven__org_junit_platform_junit_platform_launcher_1_6_2.xml

.idea/libraries/Maven__org_junit_vintage_junit_vintage_engine_5_6_2.xml

.idea/libraries/Maven__org_latencyutils_LatencyUtils_2_0_3.xml

.idea/libraries/Maven__org_mapstruct_mapstruct_1_2_0_Final.xml

.idea/libraries/Maven__org_mockito_mockito_core_3_3_3.xml

.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_3_3.xml

.idea/libraries/Maven__org_mongodb_bson_4_0_4.xml

.idea/libraries/Maven__org_mongodb_mongodb_driver_core_4_0_4.xml

.idea/libraries/Maven__org_mongodb_mongodb_driver_sync_4_0_4.xml

.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml

.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml

.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml

.idea/libraries/Maven__org_perf4j_perf4j_0_9_16.xml

.idea/libraries/Maven__org_projectlombok_lombok_1_18_12.xml

.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml

.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml

.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml

.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_actuator_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_mongodb_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_aws_autoconfigure_2_2_2_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_aws_context_2_2_2_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_aws_core_2_2_2_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_commons_2_2_3_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_config_client_2_2_3_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_context_2_2_3_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_function_context_3_0_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_function_core_3_0_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_2_2_3_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_aws_2_2_2_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_starter_config_2_2_3_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_stream_3_0_5_RELEASE.xml

.idea/libraries/Maven__org_springframework_cloud_spring_cloud_stream_binder_kinesis_2_0_2_RELEASE.xml

.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_3_0_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_integration_spring_integration_aws_2_3_3_RELEASE.xml

.idea/libraries/Maven__org_springframework_integration_spring_integration_core_5_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_integration_spring_integration_jmx_5_3_1_RELEASE.xml

.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml

.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml

.idea/libraries/Maven__org_springframework_retry_spring_retry_1_2_5_RELEASE.xml

.idea/libraries/Maven__org_springframework_security_spring_security_config_5_3_3_RELEASE.xml

.idea/libraries/Maven__org_springframework_security_spring_security_core_5_3_3_RELEASE.xml

.idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_3_3_RELEASE.xml

.idea/libraries/Maven__org_springframework_security_spring_security_rsa_1_0_9_RELEASE.xml

.idea/libraries/Maven__org_springframework_security_spring_security_web_5_3_3_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_aop_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_beans_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_context_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_core_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_expression_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_jcl_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_messaging_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_test_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_tx_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_web_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_7_RELEASE.xml

.idea/libraries/Maven__org_threeten_threetenbp_1_4_3.xml

.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml

.idea/libraries/Maven__org_yaml_snakeyaml_1_26.xml

.idea/libraries/Maven__software_amazon_ion_ion_java_1_0_2.xml

.idea/misc.xml

.idea/modules.xml

.idea/stock.iml

.idea/vcs.xml

.idea/workspace.xml

stock.iml
